/* Boja za neradne dane */
.good_day .dhx_month_body{
    background-color: #DDDDDD; //#b8b2a6;    //
}
.good_day .dhx_month_head{
    background-color: #DDDDDD;
}
/* Boja danjašnjeg dana */
.today .dhx_month_head{
    background-color: #CCCCCC !important;
}
.today .dhx_month_body{
    background-color: #CCCCCC !important;
}
/* Boja za selektovane dane */
.selected_day .dhx_month_head {
    background-color: #0d8bf2;
}
.selected_day .dhx_month_body {
    background-color: #0d8bf2;
}

/* Boja za dane godisnjeg odmora */
.vacation_day .dhx_month_head{
    background-color: #2ecb70;
}
.vacation_day .dhx_month_body{
    background-color: #2ecb70;
}
/* Boja za labelu godisnji u legendi */
.vacation_label {
    color: #2ecb70;
}
/* Boja za placene slobodne dane  */
.day_off .dhx_month_head{
    background-color: #1CA1C1;
}
.day_off .dhx_month_body{
    background-color: #1CA1C1;
}
/* Boja za labelu slobodni dani u legendi */
.day_off_label {
    color: #1CA1C1;
}
/* Boja za neplacene slobodne dane  */
.unpaid_day_off .dhx_month_head{
    background-color: #fed282;
}
.unpaid_day_off .dhx_month_body{
    background-color: #fed282;
}
/* Boja za labelu neplaceni dani u legendi */
.unpaid_day_label {
    color: #fed282;
}
/* Boja za dane bolovanja */
.sick_day .dhx_month_head{
    background-color: #E989A3;
}
.sick_day .dhx_month_body{
    background-color: #E989A3;
}
.sick_day_waiting .dhx_month_head{
    background-color: #e99cb2;
}
.sick_day_waiting .dhx_month_body{
    background-color: #e99cb2;
}
/* Boja za labelu bolovanje u legendi */
.sick_day_label {
    color: #E989A3;
}

.vacationButton .webixtype_base {
    background-color: #268fd5  !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: auto 6px;
}

.leaveButton .webixtype_base{
    background-color: #E989A3 !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: auto 6px;
}

.sickLeaveButton .webixtype_base{
    background-color: #00b3b3  !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color:#fff;
    font-size: 13px;
    padding: auto 6px;
}

.unpickedButton .webixtype_base{
    /*background-color: #8c8c8c !important;*/
    background-color: #268fd5  !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color:#fff;
    font-size: 13px;
    padding: auto 6px;
}