/* Boja za neradne dane */
.good_day .dhx_month_body{
    background-color: #DDDDDD; //#b8b2a6;    //
}
.good_day .dhx_month_head{
    background-color: #DDDDDD;
}
/* Boja danjašnjeg dana */
.today .dhx_month_head{
    background-color: #CCCCCC !important;
}
.today .dhx_month_body{
    background-color: #CCCCCC !important;
}
/* Boja za selektovane dane */
.selected_day .dhx_month_head {
    background-color: #0d8bf2;
}
.selected_day .dhx_month_body {
    background-color: #0d8bf2;
}

/* Boja za dane godisnjeg odmora */
.vacation_day .dhx_month_head{
    background-color: #2ecb70;
}
.vacation_day .dhx_month_body{
    background-color: #2ecb70;
}
/* Boja za slobodne dane  */
.day_off .dhx_month_head{
    background-color: #1CA1C1;
}
.day_off .dhx_month_body{
    background-color: #1CA1C1;
}

.vacationButton {
    background-color: #268fd5  !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: auto 6px;
}

.leaveButton{
    background-color:#E989A3 !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: auto 6px;
}

.sickLeaveButton{
    background-color: #00b3b3  !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color:#fff;
    font-size: 13px;
    padding: auto 6px;
}

.unpickedButton{
    background-color: #8c8c8c !important;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color:#fff;
    font-size: 13px;
    padding: auto 6px;
}