
.webix_win_head {
    height: 0;
}
.addCompanyDialog {
    height: 150px;
}
.webix_column > div.webix_cell_select, .webix_column > div.webix_column_select, .webix_column > div.webix_row_select {
    color: #fff;
    background: #27ae60;
}

#datatable1557446099989 .webix_cell {
    height: 34px;
    line-height: 34px;
    white-space: normal;
}

.abscentForm{
    border:none;
}
.highlighted_header.header6{
    background-color: #fbfbfb !important;
}

.calendarToolbar{
    margin-right: 5px !important;
    margin-left: 5px !important;
    margin-top: 5px !important;
}
.companyPanelToolbar{
    padding: 0px 0px;
    background: #ffffff !important;
    color: black !important;
    margin-left: 0;
}
.companyPanelToolbarTop{
    background: #ffffff !important;
    margin-left: 5px !important ;
    margin-right:5px !important ;
}
.right_margin{
    margin-right: 5px !important;
}
.myButton {
    background-color: #268fd5;
}
.webix_view{
    color: black;
}
.companyButton {
    background-color: #268fd5  !important;
    border-radius: 6px;
    height: 50%; /*!important;*/
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: auto 6px;

}
.floatMeRight {
    float:right;
}
.webix_img_btn_abs  {
    border: 1px solid #268fd5  !important;
}
.companies-counter{
    font-size:30px !important;
    align-items: center !important;
    text-align: center;
    justify-content: center !important;
    color: white !important;
    background-color: #E989A3 !important;
    border: 1px solid #E989A3;
    width: 225px !important;
    float: right;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    margin-right: 15px !important;

}

.companies-counter .webix_el_label {
    background-color: #e74a3b; !important;
    font-size: 12px !important;
    height: 12px;
}

.companies-counter p {
    color: white;
    margin-top: 0px;
    overflow: visible;
    text-align: center !important;
}

.companies-counter webix_template {
    background-color: #e74a3b;!important;
}

.admin-counter{
    font-size:30px !important;
    align-items: center !important;
    text-align: center;
    justify-content: center !important;
    color: white !important;
    background-color: #B289EF  !important;
    border: 1px solid #B289EF;
    width: 200px !important;
    float: right;
    border-radius: 5px;

}

.admin-counter .webix_el_label {
    background-color: #fea11d; !important;
    font-size: 12px !important;
    height: 12px;
}

.admin-counter p {
    color: white;
    margin-top: 0px;
    overflow: visible;
    text-align: center !important;

}

.admin-counter webix_template {
    background-color: #e74a3b;!important;
}


.employee-counter{
    font-size:30px !important;
    align-items: center !important;
    text-align: center;
    justify-content: center !important;
    color: white !important;
    background-color: #9AD2CD  !important;
    border: 1px solid #9AD2CD;
    width: 200px !important;
    float: right;
    border-radius: 5px;
    margin-right:5px !important;

}

.employee-counter .webix_el_label {
    background-color: #4ca74f; !important;
    font-size: 12px !important;
    height: 12px;
}

.employee-counter p {
    color: white;
    margin-top: 0px;
    overflow: visible;
    text-align: center !important;
}
.employee-counter webix_template {
    background-color: #e74a3b;!important;
}

.companyDatatable .webix_cell {
    height: 30px !important;
}
.fa-refresh {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-refresh {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.fa-trash {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-trash {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.fa-external-link {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-external-link {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.fa-plus-circle {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-plus-circle {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.fa-users {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-users {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.fa-user {
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.webix_el_box :hover .fa-user {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
.upload-logo {
    border: 1px dashed grey !important;
    border-radius: 4px !important;
    width: 50% !important;
    width: 372px !important;
    margin-left: 210px !important;
    margin-bottom: 15px !important;
}
.upload-logo-company {
    border: 1px dashed grey !important;
    border-radius: 4px !important;
    width: 50% !important;
    width: 372px !important;
    margin-left: 0px !important;
    margin-bottom: 15px !important;
}

.webix_cell img {
    margin: 0 auto;
}
.largeText {
    font-size:15px !important;
    text-align: center;
}

.my_style {
    font-weight:bold;
    color: #000000;
}

.webix_list_item.disabled{
    background: #eee;
    color: #aaa;
    display: none;
}
@-webkit-keyframes fadeInDownBigConfirmDialog {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDownBigConfirmDialog {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDownBigConfirmDialog {

    -webkit-animation-name: fadeInDownBigConfirmDialog;
    animation-name: fadeInDownBigConfirmDialog;
}

.webix_modal_box,  .webix_alert-warning {

    -webkit-animation-name: fadeInDownBigConfirmDialog;
    animation-name: fadeInDownBigConfirmDialog;

    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;

}

.companyFormButtons {
    margin-top: 40px !important;
}

.addCompanyDialog {
    border-width: 0px !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fadeInAnimation, .companyPanelToolbar  {

    animation: fadeInAnimation ease 5s;
    -webkit-animation: fadeInAnimation ease 500ms;
    -moz-animation: fadeInAnimation ease 500ms;
    -o-animation: fadeInAnimation ease 500ms;
    -ms-animation: fadeInAnimation ease 500ms;

}

@keyframes fadeInAnimation{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeInAnimation {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeInAnimation {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeInAnimation {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeInAnimation {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.webix_el_label b, .fa-anim, .webix_tree_branch_1 {


    -webkit-animation: focus-in-contract-bck 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}



